.parent-slot-1 { left: 7%; top: 24%; }
.parent-slot-2 { right: 7%; top: 25%; }
.parent-slot-3 { left: 10%; bottom: 20%; }
.parent-slot-4 { right: 12%; bottom: 20%; }
.child-slot-1 { left: 4%; top: 38%; }
.child-slot-2 { left: 19%; top: 42%; }
.child-slot-3 { right: 22%; top: 41%; }
.child-slot-4 { right: 4%; top: 39%; }
.child-slot-5 { left: 3%; bottom: 8%; }
.child-slot-6 { left: 22%; bottom: 7%; }
.child-slot-7 { right: 24%; bottom: 8%; }
.child-slot-8 { right: 4%; bottom: 7%; }
.grandchild-slot-1 { left: 28%; top: 33%; }
.grandchild-slot-2 { left: 42%; top: 31%; }
.grandchild-slot-3 { right: 40%; top: 32%; }
.grandchild-slot-4 { right: 27%; top: 35%; }
.grandchild-slot-5 { left: 28%; bottom: 24%; }
.grandchild-slot-6 { left: 43%; bottom: 21%; }
.grandchild-slot-7 { right: 40%; bottom: 22%; }
.grandchild-slot-8 { right: 27%; bottom: 25%; }
